@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="table">
    <table>
        <div>
            <tr>
                <th><p>Name</p></th>
                <th><p>Last Name</p></th>
                <th><p>Age</p></th>
                <th><p>Date</p></th>
            </tr>
        </div>
        @foreach (var b in ViewBag.Persons)
            {
            <div>
                <tr class="body-content">
                    <td><p>@b.Name</p></td>
                    <td><p>@b.LastName</p></td>
                    <td><p>@b.Age</p></td>
                    <td><p>@b.Time</p></td>
                    <td><p><a href="/Home/Delete/@b.Id">Delete</a></p></td>
                    <td><p><a href="/Home/Edit/@b.Id">Edit</a></p></td>
                </tr>
            </div>
        }
    </table>
    <br/>

        <input type="button" title="add" value="Add" onclick="location.href='@Url.Action("AddPerson", "Home")'" />

</div>